@import "./../../stylesheets/colors";

.chat-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chat {
  max-width: 600px;
  width: 100%;
  align-self: center;

  ul {
    padding-left: 0;
  }
  ul li {
    list-style: none;
  }

  .chat-name {
    text-transform: uppercase;
    color: $grey;
  }

  .your-message {
    text-align: right;
  }
}
