.chat-container {
  width: 100%;
  display: flex;
  flex-direction: column; }

.chat {
  max-width: 600px;
  width: 100%;
  align-self: center; }
  .chat ul {
    padding-left: 0; }
  .chat ul li {
    list-style: none; }
  .chat .chat-name {
    text-transform: uppercase;
    color: #999999; }
  .chat .your-message {
    text-align: right; }

/*# sourceMappingURL=chat.css.map */
