@import "./../../stylesheets/colors";

.menu {
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-size: 18px;

  .menu-option-selected {
    color: $blue;
  }

  .menu-options-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 900px) {
  .menu {
    flex-direction: row;
    margin-bottom: 50px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 480px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }
}
