@import "./../../stylesheets/colors";

table {
  width: 100%;
}

thead {
  color: $grey;
  text-transform: uppercase;
}

th, td {
  padding: 10px;
}

th {
  color: $grey;
  text-transform: uppercase;
  text-align: left;
  font-weight: normal;
  border-bottom: 1px solid $light-grey;
}

th:hover {
  border-bottom-width: 4px;
}

.tr-message {
  width: 100%;
  text-align: center;
}

.empty-th, .empty-th:hover {
  border: none;
}

.vertical-headers-table {
  th {
    border: none;
  }
}

.load-vertical-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
