@import "./../../stylesheets/colors";
@import "./../../stylesheets/inputs";

button {
  $side-padding: 30px;

  height: $input-height;
  width: max-content;
  border: none;
  border-radius: $input-border-radius;
  padding-left: $side-padding;
  padding-right: $side-padding;
  cursor: pointer;
  background-color: $blue;
  color: white;
  text-transform: uppercase;
}

button:hover {
  background-color: $dark-blue;
}

button:disabled, button:disabled:hover {
  cursor: default;
  background-color: $grey;
}

.button-light {
  background-color: white;
  border: 1px solid $blue;
  color: $blue;
}

.button-light:hover {
  background-color: white;
  border-color: $dark-blue;
  color: $dark-blue;
}

.icon-button {
  padding: 0;
  color: black;
  font-size: 30px;
  background: none;
  width: auto;
  height: auto;
}

.icon-button:hover {
  color: #666666;
  background: none;
}

.text-button, .text-button:hover {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  width: auto;
  height: auto;
  text-transform: uppercase;
  color: $grey;
}

.text-button:hover {
  color: black;
}

.text-button-active {
  color: $blue;
}
