select {
  height: 40px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #EDEDED; }

button {
  height: 40px;
  width: max-content;
  border: none;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
  background-color: #0C63E7;
  color: white;
  text-transform: uppercase; }

button:hover {
  background-color: #0D41E1; }

button:disabled, button:disabled:hover {
  cursor: default;
  background-color: #999999; }

.button-light {
  background-color: white;
  border: 1px solid #0C63E7;
  color: #0C63E7; }

.button-light:hover {
  background-color: white;
  border-color: #0D41E1;
  color: #0D41E1; }

.icon-button {
  padding: 0;
  color: black;
  font-size: 30px;
  background: none;
  width: auto;
  height: auto; }

.icon-button:hover {
  color: #666666;
  background: none; }

.text-button, .text-button:hover {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  width: auto;
  height: auto;
  text-transform: uppercase;
  color: #999999; }

.text-button:hover {
  color: black; }

.text-button-active {
  color: #0C63E7; }

/*# sourceMappingURL=button.css.map */
