@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
.logo {
  color: black;
  display: flex;
  align-items: center;
  gap: 20px; }

.logo-icon {
  font-size: 50px; }

.logo-text {
  font: 600 35px "Open Sans", sans-serif; }

/*# sourceMappingURL=logo.css.map */
