.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .auth-page form {
    margin-bottom: 50px; }

.auth-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px; }

/*# sourceMappingURL=auth_page.css.map */
