@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

$heading-1: 600 44px 'Open Sans', sans-serif;
$heading-2: 600 35px 'Open Sans', sans-serif;
$plain-text: 16px 'Open Sans', sans-serif;
$caption-text: 14px 'Open Sans', sans-serif;
