@import "colors";

$input-height: 40px;
$input-border-radius: 10px;
$input-padding-left-right: 20px;

select {
  height: $input-height;
  border-radius: $input-border-radius;
  padding-left: $input-padding-left-right;
  padding-right: $input-padding-left-right;
  background-color: $light-grey;
}
