.chat-message-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 30px; }
  .chat-message-form input {
    width: 100%; }

@media screen and (max-width: 600px) {
  .chat-message-form {
    flex-direction: column;
    gap: 20px;
    align-items: center; } }

/*# sourceMappingURL=message_form.css.map */
