.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;

  a {
    text-decoration: none;
    cursor: pointer;
  }

  .header-icons {
    display: flex;
    align-items: center;
    gap: 50px;
  }
}

.header-buttons-container {
  display: flex;
  gap: 30px;
}


@media screen and (max-width: 480px) {
  .header, .header-buttons-container {
    flex-direction: column;
    align-items: center;
  }
}
