select {
  height: 40px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #EDEDED; }

.text-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px; }

textarea {
  min-height: 400px; }

input {
  height: 40px;
  border-color: #999999;
  border-width: 1px;
  border-radius: 10px;
  background-color: #EDEDED;
  padding-left: 20px;
  padding-right: 20px; }

/*# sourceMappingURL=text_input.css.map */
