@import "./../../../stylesheets/inputs";
@import "./../../../stylesheets/colors";

.text-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}

textarea {
  min-height: 400px;
}

input {
  height: $input-height;
  border-color: $grey;
  border-width: 1px;
  border-radius: $input-border-radius;
  background-color: $light-grey;
  padding-left: $input-padding-left-right;
  padding-right: $input-padding-left-right;
}


