@import "./stylesheets/fonts";
@import "./stylesheets/colors";
@import "./stylesheets/inputs";

* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  min-height: 100vh;
  width: 100%;
  margin-bottom: 50px;
}

h1 {
  font: $heading-1;
}

h2 {
  font: $heading-2;
}

p, span, label, details, li, div, textarea, input, select, a, table {
  font: $plain-text;
}

a {
  text-decoration: none;
  color: $dark-grey;
  text-transform: uppercase;
}

a:hover {
  color: black;
}

label {
  color: $grey;
  text-transform: uppercase;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;

  legend {
    font: $heading-2;
  }
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}

.caption-text {
  font: $caption-text;
}

.validation-error {
  font: $caption-text;
  color: red;
}

.global-error {
  color: red;
}

.message {
  width: 100%;
  text-align: center;
  color: $grey;
}
