@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
select {
  height: 40px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #EDEDED; }

* {
  box-sizing: border-box; }

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

main {
  min-height: 100vh;
  width: 100%;
  margin-bottom: 50px; }

h1 {
  font: 600 44px "Open Sans", sans-serif; }

h2 {
  font: 600 35px "Open Sans", sans-serif; }

p, span, label, details, li, div, textarea, input, select, a, table {
  font: 16px "Open Sans", sans-serif; }

a {
  text-decoration: none;
  color: #666666;
  text-transform: uppercase; }

a:hover {
  color: black; }

label {
  color: #999999;
  text-transform: uppercase; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }
  fieldset legend {
    font: 600 35px "Open Sans", sans-serif; }

.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px; }

.caption-text {
  font: 14px "Open Sans", sans-serif; }

.validation-error {
  font: 14px "Open Sans", sans-serif;
  color: red; }

.global-error {
  color: red; }

.message {
  width: 100%;
  text-align: center;
  color: #999999; }

/*# sourceMappingURL=index.css.map */
