.dimensions-inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.load-form {
  .buttons-container {
    display: flex;
    gap: 30px;
    justify-content: center;
  }
}

.load-form-inputs-container {
  margin-bottom: 50px;
}

@media screen and (max-width: 1024px) {
  .dimensions-inputs {
    flex-direction: column;
    gap: 0;
  }
}
